*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    padding: 5rem;
}

.container {
    display: grid;
    grid-template-areas: 
    'display display display'
    'val1 val1 operador '
    'btn btn btn'; 
    max-width: 60rem;
    margin: 20rem auto;
    border: 1px black solid;
    padding: 3rem;
    gap: 1rem;
}

.display {
    grid-area: display;
    height: 7rem;
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    border: solid 2px rgb(226, 219, 219);
    padding: .5rem 1rem;
}

input {
    outline: none;
    border: solid 2px rgb(226, 219, 219);
    padding: .5rem 1rem;
    text-align: end;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#val1 {
    grid-area: val1;
    width: 100%;
}

.operador {
    grid-area: operador;
    width: 100%;
    height: 100%;
    pad: .5rem;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.btn {
    grid-area: btn;
    display: grid;
    width: 100%;
    grid-template-areas: 
    'group1 group2';
    place-items: center; 
}

.btn-group1 {
    grid-area: group1;
}

.btn-group2 {
    grid-area: group2;
}

.btn button {
    width: 5rem;
    border: transparent;
    background-color: rgb(226, 219, 219);
}

.btn button:hover {
    background-color: #e9e9e9;
    box-shadow: 0 0 2px black;
}

@media  screen and (max-width: 32rem){
    .container {
        grid-template-areas: 
        'display'
        'val1'
        'operador'
        'val2'
        'btn';
    }

    .btn {
        grid-template-areas: 
        'group1'
        'group2';
        text-align: center;
        gap: 1rem;
    }
}